<%- include('partials/header') -%>

<main class="hero min-h-screen" style="background-image: url(/imgs/thiago-cardoso-DRZORlPWSOw-unsplash.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Are you hungry?</h1>
      <p class="mb-5">Can't think of what to eat or where to go? Make an account and then make a list of your favorite restaurants. Next time you're stuck on what to eat or where to go, use this site to get a suggested food picked randomly and look through your list of restaurants that serve that food</p>
      <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-accent"> Login</a>
        <a href="/signup" class="col-3 btn btn-accent"> Signup</a>
    </div>
    </div>
  </div>
</main>
    

<%- include('partials/footer') -%>